name: morning
on:
  schedule:
  - cron:  '0 3 * * *'
  workflow_dispatch:

jobs:
  send_message:
    runs-on: ubuntu-latest
    name: send morning to your girlfriend

    steps:
    - name: checkout
      uses: actions/checkout@v3
      with:
        ref: master

    - name: sender
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
        architecture: 'x64'
    - run: pip install -r ./requirements.txt && python ./main.py

    env:
      APP_ID: ${{ secrets.APP_ID }}
      APP_SECRET: ${{ secrets.APP_SECRET }}
      TEMPLATE_ID: ${{ secrets.TEMPLATE_ID }}
      USER_ID1: ${{ secrets.USER_ID1 }}
      USER_ID2: ${{ secrets.USER_ID2 }}
      START_DATE: ${{ secrets.START_DATE }}
      LOVE_DATE: ${{ secrets.LOVE_DATE }}
      YMQ_DATE: ${{ secrets.YMQ_DATE }}
      BIRTHDAY1: ${{ secrets.BIRTHDAY1 }}
      BIRTHDAY2: ${{ secrets.BIRTHDAY2 }}
      CITY1: ${{ secrets.CITY1 }}
      CITY2: ${{ secrets.CITY2 }}
